/* Regole generali */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.btn {
    color: white;
}

.head-btn {
    padding: 10px;
    margin: 10px;
    background-color: gray;
    border-radius: 10px;
    border: 1px solid gray;
}

.container {
    width: 90%;
    margin: auto;
    flex-wrap: wrap;
    padding-top: 5%;
    justify-content: space-between;
}

/* Regole flexbox */
.flex {
    display: flex;
}

.flex-cen {
    justify-content: center;
    align-items: center;
}

/* Regole header */
header {
    height: 50px;
    width: 100%;
    background-color: black;
    justify-content: flex-end;
    position: fixed;
}

.view i {
    padding-right: 5px;
}

/* Regole main */
main {
    background-color: black;
    height: 100vh;
    width: 100%;
}

.window {
    border: 1px solid red;
    position: relative;
}

.username {
    color: white;
    border: 1px solid gray;
    width: 40%;
    background-color: gray;
    position: absolute;
    left: 0;
    bottom: 0;
}